<h1>New Message ✍️</h1>

<form action="/messages/new" method="POST">
  <input
    type="text"
    name="title"
    placeholder="Title"
    required
  />

  <textarea
    name="text"
    placeholder="Write your message..."
    required
  ></textarea>

  <button type="submit">Post</button>
</form>